<body>
	<%= stylesheet_link_tag 'navbar' %>
    <nav class="navMenu">
      <a href="/about">Home</a>
      <a href="/shop">Shop</a>
      <a href="/mission">Mission</a>
      
    </nav>
  </body>
<%= yield %>